body {
    font-family: 'Source Sans Pro', sans-serif;
}
.displayset{
    display: flex;
    float: left;
    margin-bottom: 150px;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p {
    text-align: justify;
    font-size: 20px;
}
.divstyle{
    width: 50%;
    margin: 30px;
}
.missiondiv{
        width: 33%;
        margin: 30px;
        padding: 20px;

}
.design{
    background-color: rgba(235, 209, 180, 0.856);
    transform: scaleY(1);
    border-radius: 10px;
    
}
.textcolor{
    color: rgb(209, 29, 194);
}
.linkbuttom{
   text-decoration: none;
   background-image: linear-gradient(rgb(175, 100, 100),rgb(197, 59, 151));
   color: white;
   padding: 10px 10px;
   border-radius: 10px;
}
.imagesize{
    width: 80%;
    margin-left: 50px;
    border-radius: 20px;
}
.illutionmission
{
    width: 30%;
}
#position{
    text-align: center;
}