body {
    font-family: 'Source Sans Pro', sans-serif;
}
.displayset{
    display: flex;
    float:left;
    margin-bottom: 150px;
}
h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}
p {
    text-align: justify;
    font-size: 20px;
}
.divstyle{
    width: 50%;
    margin: 30px;
}
.missiondiv{
        width: 33%;
        margin: 30px;
        padding: 20px;

}
.design{
    background-color: rgba(235, 209, 180, 0.856);
    transform: scaleY(1);
    border-radius: 10px;
    
}
.textcolor{
    color: rgb(209, 29, 194);
}
.linkbuttom{
   text-decoration: none;
   background-image: linear-gradient(rgb(175, 100, 100),rgb(197, 59, 151));
   color: white;
   padding: 10px 10px;
   border-radius: 10px;
}
.imagesize{
    width: 80%;
    margin-left: 50px;
    border-radius: 20px;
}
#backimage{
    background-image:url(images/shape-2.png);
    background-repeat: no-repeat;
}
#backimage2{
    background-image:url(images/shape-1.png);
    background-repeat: no-repeat;
    }
.illutionmission
{
    width: 30%;
}
.position{
    text-align: center;
}
.photo{
    align-items: center;
    width:300px;
    height: 300px;
    border-radius: 10px;
    margin: 50px;
    margin-right: 100px;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(14, 12, 12);
    color: rgb(153, 147, 147);
    text-align: center;
    font-size: 10px;
 }
 #style
 {
    font-family: 'Moon Dance', cursive;
    font-size: 20px;
    color: whitesmoke;
 }
 #style2
 {
    font-size: 20px;
    color: red;
 }

 #footer{
     text-align: center;
 }
#imageheight{
    height: 65%;
}