body {
    font-family: 'Source Sans Pro', sans-serif;
}
.displayset{
    display: flex;
    float: left;
}
h1 {
    font-size: 50px;
}
p {
    text-align: justify;
    font-size: 20px;
}
.divstyle{
    width: 50%;
    margin: 30px;
}
.textcolor{
    color: rgb(209, 29, 194);
}
.linkbuttom{
   text-decoration: none;
   background-image: linear-gradient(rgb(175, 100, 100),rgb(197, 59, 151));
   color: white;
   padding: 10px 10px;
   border-radius: 10px;
}
.imagesize{
    width: 80%;
    margin-left: 50px;
    border-radius: 20px;
}
#position{
    text-align: center;
}